div.main-window {
    height: auto;        /* PINALITAN KO KASI DI HUMAHABA */
}

/*                              ITEM STORE!!                      */

/*  --------------------------------------- SECTION COVER ----------------------------------------------  */


.cover{
    background-image: url("../../assets/pokemon-wallpaper-preview.jpg");
    background-position: center;
    background-size: cover;
    height: 50vh;
    border-radius: 10px;
    margin: 2rem 80px;
    border-radius: 20px;
 
}
.cover-overlay{
    background: rgba(0, 0, 0, 0.151);
    height: 100%;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

.cover-overlay h1 {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
    color: #fdffd6;
    font-weight: 800;
}




/*  --------------------------------------- ITEM STORE NAV BAR ----------------------------------------------  */

.itemNav{
    padding: 2rem 80px;

}

.NAVIGATION{
    padding: 20px;
    border-radius: 30px;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-content: center;
}
.NAVIGATION a{
    padding: 0px 1rem  ;
    color: #fdffd6;
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    list-style: none;
    transition: 0.2s;
    display: inline-block;
    position: relative;
    text-shadow: 2px 2px 6px #0000008a;
 
}

.NAVIGATION a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: #00000060;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.NAVIGATION a:hover::after {
    width: 100%; /* Expands to full width */
    left: 0; /* Aligns it from the start */
   
}

@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}

/*  --------------------------------------- NAVBAR PREFERENCE ----------------------------------------------  */

